:root {
  /* Font */
  --base-font-family: "Pretendard Variable", "Noto Sans", NanumBarunGothic, "Malgun Gothic", Gulim, Dotum, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --code-font-family: "Monoplex KR Nerd", "D2 Coding", "D2Coding", "Lucida Console", "DejaVu Sans Mono", Inconsolata, Consolas, monospace;
  --base-font-size: 1rem;
  /* Blockquote */
  --blockquote-padding: 0.7rem;
  /* Headings */
  --heading-h1-border-style: reset;
  --heading-h2-border-style: reset;
  --heading-h2-margin: 0;
  --heading-h2-padding: 0;
  --heading-h3-border-style: reset;
  --heading-h3-margin: 0;
  --heading-h3-padding: 0;
  --heading-h4-border-style: reset;
  --heading-h4-margin: 0;
  --heading-h4-padding: 0;
  --heading-h5-border-style: reset;
  --heading-h5-margin: 0;
  --heading-h5-padding: 0;
  --heading-h6-border-style: reset;
  --heading-h6-margin: 0;
  --heading-h6-padding: 0;
}
hr {
  margin: 0.7rem 0;
}
.markdown-section blockquote {
  margin: 0.7rem 0;
}
.markdown-section figure, .markdown-section p, .markdown-section ol, .markdown-section ul {
  margin: 0.7rem 0;
}
